<div class="backgrop js-backgrop-qustione">
  <div class="qustione-wrap">
    <h3 class="qustione-wrap-title">
      How you want <span>pass the</span> task?
    </h3>
    <div class="drop-warp" id="accordion">
      <h3 class="drop-warp-choose">
        <span>Choose word</span>
        <svg class="drop-warp-icon">
          <use href="./img/sprite.svg#icon-circle-right"></use>
        </svg>
      </h3>
      <div>
        <ul class="drop-list">
          <li>
            <button type="button" data-drop="choose">Choose word</button>
          </li>
          <li>
            <button type="button" data-drop="enter">Enter word</button>
          </li>
          <li><button type="button" data-drop="mixed">Mixed</button></li>
        </ul>
      </div>
    </div>
    <div class="qust-res-wrap">
      <div>
        <p class="choose-lang-of">English</p>
        <button class="qust-res-icon-btn" type="button">
          <svg class="qust-res-icon" width="30px" height="15px">
            <use href="./img/sprite.svg#icon-loop"></use>
          </svg>
        </button>
        <p class="choose-lang-on">Ukraine</p>
      </div>
      <div>
        <p class="comes-choose">Choose word:</p>
        <p class="res-lang">Ukraine</p>
      </div>
    </div>
    <div class="qust-btn-wrap">
      <button class="animate-btn" type="button" data-drop="back">Exit</button>
      <button class="animate-btn" type="button" data-drop="yes">Go</button>
    </div>
  </div>
</div>
