<div class="task backgrop">
  <div class="task-header">
    <p class="task-header-text">00 / 00</p>
    <h3 class="task-header-title">Title</h3>
    <button class="task-header-btn animate-btn" type="button">
      <svg width="15px" height="15px">
        <use href="./img/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="task-header-line"></div>
  </div>
  <div class="taskes-container">
    <div class="task-wrap">
      <div class="task-wrap-top">
        <p class="task-wrap-top-val">Value</p>
        <p class="task-wrap-top-count">00 / 00</p>
      </div>
      <p class="task-wrap-word">Word</p>
      <p class="task-wrap-text">Choose <span>the</span> appropriate term</p>
      <ul class="task-list">
        <li class="task-list-item">Word1</li>
        <li class="task-list-item">Word2</li>
        <li class="task-list-item">Word3</li>
        <li class="task-list-item">Word4</li>
      </ul>
      <p class="task-text-know">I don't know</p>
    </div>
  </div>
</div>
