<div class="task backgrop">
  <div class="task-header">
    <p class="task-header-text">00 / 00</p>
    <h3 class="task-header-title">Title</h3>
    <button class="task-header-btn animate-btn" type="button">
      <svg width="15px" height="15px">
        <use href="./img/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="task-header-line"></div>
  </div>
  <div class="taskes-container">
    <div class="task-wrap">
      <div class="task-wrap-top">
        <p class="task-wrap-top-val">Value</p>
        <p class="task-wrap-top-count">00 / 00</p>
      </div>
      <div class="wrap-word_img">
        <p class="task-wrap-word">Word</p>
        <img
          class="task-img-word task-img-word-blur"
          src="./img/letter-w.png"
          alt="word"
        />
      </div>
      <p class="task-wrap-text">Choose <span>the</span> appropriate term</p>
      <ul class="task-list">
        <li class="task-list-item">
          <button class="task-list-item-btn">Word1</button>
        </li>
        <li class="task-list-item">
          <button class="task-list-item-btn">Word2</button>
        </li>
        <li class="task-list-item">
          <button class="task-list-item-btn">Word3</button>
        </li>
        <li class="task-list-item">
          <button class="task-list-item-btn">Word4</button>
        </li>
      </ul>
      <button class="task-text-know" type="button">I don't know</button>
    </div>
  </div>
</div>
