<div class="container container-my-cards">
  <!-- <h1 class="title">Containers with <span>words</span></h1>
    <button class="btn-create" type="button">Create</button> -->
  <div class="wrap-title">
    <h1>
      While you still don't have cards, click
      <a class="wrap-title-link" href="/add-words.html">add card</a>, good luck
      with your studies)
    </h1>
  </div>
  <div class="wrap-taskes">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <button class="card-btn-delete" type="button">
          <svg width="30px" height="25px">
            <use href="./img/sprite.svg#icon-delete"></use>
          </svg>
        </button>
        <h2 class="fw-bold mb-0">Title</h2>

        <ul class="d-grid gap-4 my-5 list-unstyled small">
          <li class="d-flex gap-4">
            <h5 class="mb-0">Word count:</h5>
            <p>00</p>
          </li>
          <li class="d-flex gap-4">
            <h5 class="mb-0">Progress:</h5>
            <p>00 / 00</p>
          </li>
          <li class="d-flex gap-4">
            <h5 class="mb-0">Execution time:</h5>
            <p>00.00 min</p>
          </li>
        </ul>
        <button
          type="button"
          class="btn btn-lg btn-primary mt-5 w-100"
          data-bs-dismiss="modal"
        >
          Start!
        </button>
      </div>
    </div>
  </div>
  <load src="partials/why-chosen.html" />
</div>
