<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom">Why we are chosen?</h2>

  <div
    class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5"
  >
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
          Personalized learning
        </h3>
        <p>
          Your site allows users to create their own flashcards with foreign
          words, making learning more personalized. Everyone has their own
          unique learning methods, and the ability to create custom flashcards
          allows users to learn according to their individual needs and
          interests.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
          Flexibility of study modes
        </h3>
        <p>
          Your site offers different study modes, such as choosing the correct
          words, entering the correct words or combined mode. This allows users
          to choose the learning method that best suits their needs and
          preferences.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">
          Ability to manage words
        </h3>
        <p>
          Users can add, edit and delete words from their flashcards, allowing
          them to effectively manage their vocabulary and tailor learning to
          their needs and goals.
        </p>
      </div>
    </div>
  </div>
</div>
