.is-open {
  display: block;
  opacity: 1;
}

.task {
  background-color: #1f1f1f;
  padding-top: 65px;
  position: absolute;
}

.task-header {
  display: flex;
  padding: 15px 50px;
  justify-content: space-between;
  background-color: #1e1e28;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 13;
}

.task-header-btn {
  --color: #d2382c;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 35px;
}

.task-header-btn svg {
  stroke: transparent;
  fill: currentColor;
}

.task-header-line {
  width: 40%;
  height: 1.5px;
  background: #d2382c;
  position: absolute;
  bottom: 0;
  left: 0;
}

.task-header-title {
  color: #cbcbcb;
}

.task-header-text {
  color: #cbcbcb;
}

.taskes-container {
  padding-top: 35px;
  height: 100%;
  overflow: auto;
}

.task-wrap {
  background-color: #1e1e28;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 350px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto 50px;
  border: 1px transparent solid;
  transition: all 0.4s ease;
}

.task-wrap-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.task-wrap-top-val {
  color: #cbcbcb;
  opacity: 0.5;
}

.task-wrap-top-count {
  color: #cbcbcb;
  opacity: 0.5;
}

.task-wrap-word {
  font-size: 24px;
  color: #cbcbcb;
  margin-bottom: 15px;
}

.task-wrap-text {
  text-align: center;
  color: #cbcbcb;
  margin-bottom: 20px;
}

.task-wrap-text span {
  color: #d2382c;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  column-gap: 50px;
  row-gap: 25px;
  margin-bottom: 20px;
}

.task-list-item {
  width: 200px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list-item-btn {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: #949494;
  border: 1px #646464 solid;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.task-text-know {
  margin: 0 auto;
  color: #8d8d8d;
  cursor: pointer;
  transition: color 0.4s ease;
  padding: 5px;
  border-radius: 6px;
  background: transparent;
  border: none;
}

.task-text-know:hover {
  color: #b8b8b8;
}

.task-list-item-btn:hover {
  border: 1px #959595 solid;
}

.task-list-item-false {
  border: 1px #d2382c solid;
  color: #d2382c;
}

.task-list-item-false:hover {
  border: 1px #b53128 solid;
  color: #b53128;
}

.task-list-item-true {
  border: 1px #38b000 solid;
  color: #38b000;
}

.task-list-item-true:hover {
  border: 1px #309004 solid;
  color: #309004;
}
