.wrap-title {
  display: flex;
  justify-content: space-around;
  margin: 150px;
  height: auto;
}

.wrap-title h1 {
  color: #ffff;
}

.wrap-title-link {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.btn-create {
  border: #d2382c 1px solid;
  color: #d2382c;
  background-color: transparent;
  padding: 0;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-create:hover {
  border: #fa0909 1px solid;
  color: #fa0909;
}

.title span {
  color: #d2382c;
}

.wrap-taskes {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}
