.wrap-title {
  justify-content: space-around;
  height: auto;
  display: none;
  margin: 100px 0;
}

.wrap-title h1 {
  color: #ffff;
}

.wrap-title-link {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}

.btn-create {
  border: #d2382c 1px solid;
  color: #d2382c;
  background-color: transparent;
  padding: 0;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-create:hover {
  border: #fa0909 1px solid;
  color: #fa0909;
}

.title span {
  color: #d2382c;
}

.wrap-taskes {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding-top: 40px;
}

.modal-content {
  width: 400px;
  background-color: #2e3339;
}

.gap-4 p {
  font-size: 20px;
}

.mt-5 {
  margin-top: 0 !important;
}

.card-btn-delete {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 5px;
}

.card-btn-delete svg {
  transition: all 0.5s ease;
  fill: #0d6efd;
}

.card-btn-delete:hover svg {
  fill: #0d5bd0;
}
